.main-header .logo {
  font-family: "Arial","Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 20px;
}

/* background color of header (logo part) */
.skin-blue .main-header .logo {
          background-color: #222b2e;
        }
        
        
/* change the background color of header (logo part) when mouse hover */
.skin-blue .main-header .logo:hover {
          background-color: #00a8a8;
        }
        
/* background color for remaining part of the header */
.skin-blue .main-header .navbar {
                              background-color: #00a8a8;
                              } 
                              
/* main sidebar */
     /*   .skin-blue .main-sidebar {
                              background-color: #67818a;
                              }
                              */
                              
/* active sidebar menu item */
        .skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
                              background-color: #00a8a8;
                              color:white;
                              }
                              
/* sidebar toggle button */           
.skin-blue .main-header .navbar .sidebar-toggle:hover{
                              background-color: #005757;
                              }
                              
/* sidebar menuitems when mouse hover */
         .skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
                              background-color: #005757;
                              color:white;
  
                              }
/* for the infoBox subtitle styling */
.info-box-content > p {
text-align:right;
vertical-align:top;
position:relative;
top:-50px;

}
/* for the infoBox text (title) styling */
.info-box-text {
  font-style: italic;
}

/* for the infoBox number (value) styling */
.info-box-number {
  font-style: italic;
}

.navbar-nav > .messages-menu > .dropdown-menu, .navbar-nav > .notifications-menu > .dropdown-menu, .navbar-nav > .tasks-menu > .dropdown-menu {
    width: 400px;
    padding: 0;
    margin: 10px;
    top: 100%;
    background-color: #fefefee6;
    box-shadow: 10px 10px 10px darkgrey;
}
.navbar-nav > .messages-menu > .dropdown-menu > li.header, .navbar-nav > .notifications-menu > .dropdown-menu > li.header, .navbar-nav > .tasks-menu > .dropdown-menu > li.header {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #00a8a8;
    padding: 7px 10px;
    border-bottom: 1px solid #00a8a8;
    color: #ffffff;
    font-size: 14px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu, .navbar-nav > .notifications-menu > .dropdown-menu > li .menu, .navbar-nav > .tasks-menu > .dropdown-menu > li .menu {
    max-height: 1200px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a {
    color: #000000;
    overflow: hidden;
    white-space: normal;
}


.text-success {
    color: #00a8a8;
    font-size: large;

}

#intro {
    margin-bottom: 0;
    align-items: center;
    display: block;
    margin: 0 auto;
    background: #00a8a8;
    color: white;
    min-width: 25%;
    border-color: white
}



